@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* common styles */

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}


.bg-secondary{
    background-color: #FFF8F3;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    /* text-align: center; */
}

.section-description{
    font-size: 18px;
    font-weight: normal;
    margin: 30px 0;
    line-height: 30px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}


/* header */

.header{
    margin-bottom: 130px;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}


/* nav */

nav{
    display: flex;
    justify-content: space-around;
    /* margin-top: 50px; */
    padding-top: 50px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
}


/* banner */

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner-description{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 10px 0 30px;
}

.banner-content{
    width: 585px;
}

.banner-profile-pic{
    width: 584px;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 45px 40px 0 200px;
}



/* main section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about{
    padding: 130px 150px;
    text-align: center;
    margin-bottom: 130px;
    border-radius: 10px;
}

.about-content{
    border: 1px solid black;
    padding: 10px;
    background-color: #ffffff;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.about-items .item-title{
    font-size: 20px;
    font-weight: normal;
}

.about-items .item-description{
    font-size: 20px;
    font-weight: bold;
}


/* What I Do section */



.what-i-do{
    text-align: center;
    margin-bottom: 130px;
}

.what-i-do-content .section-description{
    margin-left: 115px;
    margin-right: 115px;
}


.what-i-do-items{
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 24px;
    margin-top: 50px;
}


.what-i-do-item{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}


.what-i-do-item img{
    margin-bottom: 20px;
}

.what-i-do-item h5{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.what-i-do-item p{
    padding-right: 10px;
    font-size: 16px;
    line-height: 28px;
}


/* Resume Summary Section */

.resume-summary{
    margin-bottom: 115px;
}

.resume-summary-content .section-title{
    margin-bottom: 110px;
    text-align: center;
}

.resume-summary-content .main-content{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.education h4, .experience h4{
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
}

.education-history-title, .experience-history-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.education-history-subtitle, .experience-history-subtitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.education-history-description, .experience-history-description{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 40px 25px 0;
}

.education hr, .experience hr{
    margin: 5px 15px 30px 0;
    border-color: #d9d9d9;
    opacity: 0.5;
}


.resume-summary .resume-download{
    text-align: center;
    margin-top: 70px;
}



/* Footer Section */

.footer-content{
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 0;
    /* background-color: #d9d9d9; */
    display: flex;
    justify-content: space-between;
}

.footer .section-description, .contact-form-section ::placeholder{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.footer-content .social-section{
    width: 50%;
    /* background-color: #8b0ae7; */

}

.footer .social-section img{
    margin-right: 24px;
}

.footer-content .contact-form-section{
    width: 50%;
    padding-left: 95px;
    /* background-color: #FD6E0A; */
    /* margin-left: 95px; */
}


.footer-content .contact-form-section form{
    margin-top: 30px;
    /* background-color: #FD6E0A; */
}

.footer-content form input[type=text], .footer-content form input[type=email], .footer-content form textarea{
    width: 100%;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
}










