@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* common styles */

.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}



.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}


/* header */

.header{
    margin-bottom: 130px;
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}


/* nav */

nav{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
}


/* banner */

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.banner-description{
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 10px 0 30px;
}

.banner-content{
    width: 585px;
}

.banner-profile-pic{
    width: 584px;
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 45px 40px 0 200px;
}



